<h1>Shelter Name: <%=@shelter.name%></h1>
<h2>Shelter Address: <%=@shelter.address%><h2>
<h3>Contact Email: <%=@shelter.email%><h3><br>
<h4><%=link_to 'Browse Available Pets', pets_path(@shelter.pets)%> </h4>
