<h4>All Pets:</h4> 

<%@pets.each do |p| %>
<div class="container">
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title"> <%=p.name%> </h5>
      <p class="card-text"><%= render partial: "pet_profile", locals: {pet: p} %></p>
      <a href="/apply" class="btn btn-primary">Click to Apply</a>
      </div>
      </div>
</div>
</div>
</div>
<%end%>


<br>
Click <%=link_to 'here', '/'%> to go to the home page.